*{
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Playfair Display', serif;
}
div:hover{
    background-color: orange;
    cursor: pointer;
}

div{
    background-color: rgba(169, 169, 169, 0.274);
    box-sizing: content-box;
    border-collapse: separate;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px;
    


}

h1{
    color: orange;
}

span{
    color:aliceblue;
    background-color: unset;
    font-weight: lighter;
}
blockquote{
    background-color: unset;
    color: aliceblue;
    font-size: 15px;
}



