table {
    border-collapse: collapse;
    width: 100%;
    
    
    
}
td, th {
    border: dotted 1px grey ;
    text-align: left;
    padding: 8px;
    
    
  }
  tr:nth-child(even) {
    
    background-color:lightblue
  }
  th{
    border: dashed 1px grey;
    
    background-color: lightblue
    
  }
  td{
    border: dashed 1px gray;
  }